<!DOCTYPE html>
<html>
  <head>
    <title>Metric - Imperial Converter</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    
    <header class="container">
      <h1>Information Security Project: Metric - Imperial Converter</h1>
    </header>
    
    <main class="container">
      <h2>User Stories:</h2>
      <ol class="user-stories">
        <li>I will help prevent the client from trying to <code>guess (sniff) the MIME type</code>.</li>
        <li>I will prevent <code>cross-site scripting</code> (XSS) attacks.</li>
        <li>I can <strong>GET</strong> <code>/api/convert</code> with a single parameter containing an accepted <code>number</code> and <code>unit</code> and have it converted.<br>
        Hint: Split the input by looking for the index of the first character.</li>
        <li>I can convert <code>'gal'</code> to <code>'L'</code> and vice versa. <b>(1 gal to 3.78541 L)</b></li>
        <li>I can convert <code>'lbs'</code> to <code>'kg'</code> and vice versa. <b>(1 lbs to 0.453592 kg)</b></li> 
        <li>I can convert <code>'mi'</code> to <code>'km'</code> and vice versa. <b>(1 mi to 1.60934 km)</b></li>
        <li>If my unit of measurement is invalid, returned will be <code>'invalid unit'</code>.</li>
        <li>If my number is invalid, returned with will <code>'invalid number'</code>.</li>
        <li>If both are invalid, return will be <code>'invalid number and unit'</code>.</li>
        <li>I can use <code>fractions, decimals or both</code> in my parameter (ie. 5, 1/2, 2.5/6), but if nothing is provided it will default to <code>1</code>.</li>
        <li>My return will consist of the initNum, initUnit, returnNum, returnUnit, and string spelling out units in format <code>{initNum} {initial_Units} converts to {returnNum} {return_Units}</code> with the result <code>rounded to 5 decimals</code>.</li>
        <li>All 16 unit tests are complete and passing.</li>
        <li>All 5 functional tests are complete and passing.</li>
      </ol>
      
      <h3>Example usage:</h3>
      <code>GET /api/convert?input=4gal</code><br>
      <code>GET /api/convert?input=1/2km</code><br>
      <code>GET /api/convert?input=5.4/3lbs</code><br>
      <code>GET /api/convert?input=kg</code>
      
      <h3>Example return:</h3>
      <code>{initNum: 3.1, initUnit: 'mi', returnNum: 4.98895, returnUnit: 'km', string: '3.1 miles converts to 4.98895 kilometers'}</code>
      
      <hr>
      
      <h2>API:</h2>
      <h3>Unit Converter:</h3>
      <p>
        <strong>miles</strong> (mi) and <strong>kilometers</strong> (km)<br>
        <strong>gallons</strong> (gal) and <strong>liters</strong> (l)<br>
        <strong>pounds</strong> (lbs) and <strong>kilograms</strong> (kg)
      </p>
      <form id="convertForm" class="border" method="post" action="/api/convert">
        <input type="text" id="convertField" name="input" placeholder="3.1mi">
        <input id="convert" type="submit" value="Convert!">
      </form>
      <p>
        <strong>Result: </strong><span id="result"></span>
      </p>
      <p>
        <strong>JSON: </strong><span id="jsonResult"></span>
      </p>
      
    </main>
    
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_metric_imperial_converter" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
    <script src="script.js"></script>
  </body>
</html>